<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highstock Example</title>
        <script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript">
        console.log("Test");

    $(function () {
    $.getJSON('alerts.json', function (data) {
        // Create the chart
        console.log(data);
        var txt;
        var link = ("/sql_request");
        var div = document.getElementById('tableau');
        dbParam = JSON.stringify(data);
        myObj = JSON.parse(dbParam);
        txt = "<table border='1'>"
        console.log(myObj);
        for (x in myObj) {
            txt += "<tr>"
            for (y in myObj[x]) {
                if (y == 2) {
                    if (myObj[x][y] == 0)
                    txt += "<td>Désactivé</td>";
                    else if (myObj[x][y] == 1)
                    txt += "<td>Activé une fois</td>";
                    else 
                    txt += "<td>Activé toujours</td>"
                }
                else {
                txt += "<td>" + myObj[x][y] + "</td>";
                }
            }
            txt += "<td><a href=" + link + "?id=" + myObj[x][0] +
            "&value=0>Désactiver</a></td>";
            txt += "<td><a href=" + link + "?id=" + myObj[x][0] +
            "&value=1>Activer une fois</a></td>";
            txt += "<td><a href=" + link + "?id=" + myObj[x][0] +
            "&value=2>Activer toujours</a></td>"
            txt += "</tr>";
            console.log(txt);
        }
        txt += "</table>";
        div.innerHTML = txt;
    });
});
    $(function () {
    $.getJSON('get_values', function (data) {
        // Create the chart
        // var txt;
        console.log(data);
        var div = document.getElementById('destr');
        dbParam = JSON.stringify(data);
        console.log(dbParam);
        myObj = JSON.parse(dbParam);
        div.innerHTML = myObj;
        console.log(myObj);
    });
});
    </script>
  </head>
  <body>
<script src="{{ url_for('static', filename='highstock.js') }}"></script>
<script src="{{ url_for('static', filename='highcharts-more.js') }}"></script>
<script src="{{ url_for('static', filename='exporting.js') }}"></script>
<div id="tableau" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  </body>
</html>