<!DOCTYPE HTML>\n
<html>\n
  <head>\n
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">\n
    <title>MODULE_NAME</title>\n
        <script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>\n
    <script type="text/javascript">\n
    $(function () {\n
    $.getJSON('modx_light.json', function (data) {\n
        console.log(data);\n
        /\* Create the chart */\n
        $('#modx_light').highcharts('StockChart', {\n
            rangeSelector : {\n
                selected : 1\n
            },\n
            title : {\n
                text : 'MODULE_NAME : Light'\n
            },\n
            series : [{\n
                name : 'Value',\n
                data : data,\n
                tooltip: {\n
                    valueDecimals: 0\n
                }\n
            }]\n
        });\n
    });\n
});\n
\n
    $(function () {\n
    $.getJSON('modx_sound.json', function (datum) {\n
        console.log(datum);\n
        /\* Create the chart */\n
        $('#modx_sound').highcharts('StockChart', {\n
            rangeSelector : {\n
                selected : 1\n
            },\n
            title : {\n
                text : 'MODULE_NAME : Sound'\n
            },\n
            series : [{\n
                name : 'Value',\n
                data : datum,\n
                tooltip: {\n
                    valueDecimals: 0\n
                }\n
            }]\n
        });\n
    });\n
});\n
\n
    $(function () {\n
    $.getJSON('modx_pir.json', function (data) {\n
        console.log(data);\n
        /\* Create the chart \*/\n
        $('#modx_pir').highcharts('StockChart', {\n
            rangeSelector : {\n
                selected : 1\n
            },\n
            title : {\n
                text : 'MODULE_NAME : Sound'\n
            },\n
            series : [{\n
                name : 'Value',\n
                data : data,\n
                tooltip: {\n
                    valueDecimals: 0\n
                }\n
            }]\n
        });\n
    });\n
});\n
    </script>\n
  </head>\n
  <body>\n
<script src="{{ url_for('static', filename='highstock.js') }}"></script>\n
<script src="{{ url_for('static', filename='highcharts-more.js') }}"></script>\n
<script src="{{ url_for('static', filename='exporting.js') }}"></script>\n
<div id="modx_light" style="min-width: 310px; height: 400px; margin: 0 auto"></div>\n
<div id="modx_sound" style="min-width: 310px; height: 400px; margin: 0 auto"></div>\n
<div id="modx_pir" style="min-width: 310px; height: 400px; margin: 0 auto"></div>\n
\n
  </body>\n
</html>\n